/* Main styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300');

/* Variables */


/* main */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

header {
background-color: navy;
color: white;
padding-left: 10px;
display:flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
}

h1 {
margin-right: auto;
font-weight: 50;
}

.container {
overflow: auto;
display: flex;
flex-direction: column;
justify-content: space-around;
height: 100%;
max-height: 900px;
text-align: center;
}

.bell {
height: 50px;
width: 50px;
margin:auto 10px;
border-right: solid white;
border-right-width: thin;
padding-right: 20px;
fill: white;
}


.profileImg {
border-radius: 50px;
height: 30px;
width: 30px;
margin:auto 5px;
}

p {
margin:auto 10px;
}

nav {
  background-color: purple;
  height: 100%;
  float: left;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  width: 90px;
}

.dashboard,
.members,
.visits,
.settings {
  height: 50px;
  width:inherit;
  margin-top: 30px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
}

.dashboard:hover,
.members:hover,
.visits:hover,
.settings:hover {
  fill: #ffffff;
  border-left: #1aff8c solid;
}

.bell:hover {
  fill: #ffffff;
}

.main {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.dash {
  margin-right: 20px;
}

h2 {
  padding-left: 20px;
  font-weight: normal;
}

.topSearch {
border-left: solid grey;
border-bottom: solid grey;
width: 86%;
}

input#search {
  width: 40%;
  margin:20px;
  float: right;
  padding: 10px;
 background-image: url("../icons/magnify.png");
 background-size: 20px 20px;
 background-repeat: no-repeat;
 background-position: 98% 50%;
 border-radius: 5px;
 border: solid grey;
}



input#search:focus{
 background-image:none;
}

h4 {
  font-weight: lighter;
  margin-left: 20px;
}


.alert {
background-color: blue;
color: white;
margin-top: 20px;
border-radius: 5px;
margin-left: 20px;
margin-top: 20px;
margin-right: 20px;
display: flex;
flex-direction: row;
}

.TrafficButtons {
  margin-top: 20px;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
}

.traffic-title {
margin-right: auto;
margin-left: 0;
margin-top: 0;
}

.close {
  float:right;
  margin-left: auto;
  margin-right: 15px;
}

.lineChart {
  margin: 0 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}



/* body {
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  height: 100vh;
}

li, ol, ul {
  padding: 0;
  display: inline-block;
}

h2 {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: var(--font-size-large);
  margin: 0;
}

button {
  margin: 6px;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  color: var(--color-keys);
  font-size: var(--font-size-medium);
  background-color: var(--color-keys-light);
  border-radius: 5px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  max-height: 900px;
  text-align: center;
} */
